body {
  margin: 0;
  box-sizing: border-box;
  background-color: #eee;
  /* display: flex;
    justify-content: center; */
}

.card-poke-container {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

  margin: auto;
  margin-top: 30px;
  max-width: 70%;

  border-radius: 7px;
  padding: 15px;
  justify-items: center;

  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.card-poke {
  background-color: white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  /* height: 150px; */
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.card-poke-img {
  display: flex;
  justify-content: center;
}

.poke-img {
  width: 100%;
  max-width: 50%;
}
/* Estilos del Nav y boton */

.buttons-container {
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
  border-radius: 7px;
  background-color: white;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.button-poke {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  /* font-family: "Staatliches", cursive; */
  font-family: "Inconsolata", monospace;
  font-size: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: rgb(43, 43, 43);
  background-color: rgba(248, 248, 55, 0.856);
}

.dorso-card {
  width: 100%;
  height: 100%;
  background-color: rgb(207, 207, 223);
  position: absolute;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taping {
  transition: 1s;
  width: 0%;
  font-size: 0px;
}

.dorso-card-title {
  font-family: "Inconsolata", monospace;
  color: rgb(26, 25, 25);
}
